.container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url('../../assets/bg_historical_img.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.ruslan {
    position: absolute;
    bottom: 9%;
    left: 22%;
    width: 460px;
    height: 160px;
    cursor: pointer;
}

.cheluskina {
    position: absolute;
    bottom: 31%;
    right: 18%;
    width: 670px;
    height: 160px;
    cursor: pointer;
}

.alex {
    position: absolute;
    top: 36%;
    right: 27%;
    width: 640px;
    height: 125px;
    cursor: pointer;
}

.italy {
    position: absolute;
    top: 16%;
    left: 22%;
    width: 690px;
    height: 160px;
    cursor: pointer;
}

/* версия слабовидящих включена */

.content{
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 25px;
    top: 20%;
    left: 6%;
    text-transform: uppercase;
}
.title{
    font-size: 46px;
    font-weight: bold;
}
.subTitle{
    font-size: 28px; 
}
.info{
    font-size: 26px;
    font-weight: bold;
    border-bottom: solid rgba(0, 0, 0, 1) 2px;
    width: 225px;
    cursor: pointer;
}