.container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url('../../../assets/games_bg_img.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
